{% extends 'content/base.html' %}

{% block content %}

  <div class="overlay"></div>

  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="static/content/mp4/bg.mp4" type="video/mp4">
  </video>

  <div class="content-index">
    <ul class="list-unstyled text-center mb-0">
      <li class="list-unstyled-item">
        <p class="shape-index">Travailler la compréhension écrite avec la presse</p>
      </li>
      <li class="list-unstyled-item">
        <p class="shape-index">Travailler la compréhension orale avec les chansons</p>
      </li>
      <li class="list-unstyled-item">
        <p class="shape-index">&Agrave; voir &Agrave; faire en France</p>
      </li>
      <li class="list-unstyled-item">
        <p class="shape-index">Le forum : papotez, échangez, demandez</p>
      </li>
    </ul>
  </div>


{% endblock %}