{% extends 'content/base.html' %}

{% block content %}

  <!-- Top background image -->
  <div class="index_img_bg mb-4">
    <div class="container mt-0 h-25"></div>
  </div>

  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Content Row -->
    <div class="row">

      <!-- Content Column -->
      <div class="col-xl-8 col-lg-7 mb-4">

        <div class="card shadow mt-2 mb-4">
          <div class="card-header">
            <h4 class="m-0 font-weight-bold text-primary">Articles</h4>
          </div>
          <div class="card-body">
            <h5>fmsfmlksdmlfksdmlkfsdmlfjsmfsdj sdmfjsqmlfjqsdmlfjsdmkfsdmlksdlmsdfjlk sdfjsmfjmslfsdmlfsljfd</5>
            <h5>fmsfmlksdmlfksdmlkfsdmlfjsmfsdj sdmfjsqmlfjqsdmlfjsdmkfsdmlksdlmsdfjlk sdfjsmfjmslfsdmlfsljfd</5>
          </div>
        </div>

        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-primary">Chansons</h4>
          </div>
          <div class="card-body">
            <h5>fmsfmlksdmlfksdmlkfsdmlfjsmfsdj sdmfjsqmlfjqsdmlfjsdmkfsdmlksdlmsdfjlk sdfjsmfjmslfsdmlfsljfd</h5>
            <h5>fmsfmlksdmlfksdmlkfsdmlfjsmfsdj sdmfjsqmlfjqsdmlfjsdmkfsdmlksdlmsdfjlk sdfjsmfjmslfsdmlfsljfd</h5>
          </div>
        </div>

        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-primary">&Agrave; voir &Agrave; faire</h4>
          </div>
          <div class="card-body">
            <h5>fmsfmlksdmlfksdmlkfsdmlfjsmfsdj sdmfjsqmlfjqsdmlfjsdmkfsdmlksdlmsdfjlk sdfjsmfjmslfsdmlfsljfd</h5>
            <h5>fmsfmlksdmlfksdmlkfsdmlfjsmfsdj sdmfjsqmlfjqsdmlfjsdmkfsdmlksdlmsdfjlk sdfjsmfjmslfsdmlfsljfd</h5>
          </div>
        </div>

        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-primary">Forum</h4>
          </div>
          <div class="card-body">
            <h5>fmsfmlksdmlfksdmlkfsdmlfjsmfsdj sdmfjsqmlfjqsdmlfjsdmkfsdmlksdlmsdfjlk sdfjsmfjmslfsdmlfsljfd</h5>
            <h5>fmsfmlksdmlfksdmlkfsdmlfjsmfsdj sdmfjsqmlfjqsdmlfjsdmkfsdmlksdlmsdfjlk sdfjsmfjmslfsdmlfsljfd</h5>
          </div>
        </div>

      </div>
      <!-- End of Content Column -->

      <!-- Column Illustration -->
      <div class="col-xl-4 col-lg-5">

        <div class="card-body">
          <div class="text-center">
            <h4 class="m-0 font-weight-bold text-primary">Le français dans le monde</h4>
            <p>Source :  <a target="_blank" rel="nofollow"
                            href="http://observatoire.francophonie.org/qui-parle-francais-dans-le-monde/"
                            >Organisation Internationale de la Francophonie</a></p>
            <img class="img-fluid" style="width: 25rem;" src="/static/content/img/undraw_connected_world.svg" alt="">
          </div>
        </div>

        <div class="card border-left-warning shadow mb-4">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="h5 mb-0 font-weight-bold text-warning">235 millions de locuteurs quotidiens</div>
              </div>
            </div>
          </div>
        </div>

        <div class="card border-right-danger shadow mb-4">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="h5 mb-0 font-weight-bold text-danger text-right">langue officielle dans 29 pays</div>
              </div>
            </div>
          </div>
        </div>

        <div class="card border-left-info shadow mb-4">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="h5 mb-0 font-weight-bold text-info">300 millions de francophones en 2018</div>
              </div>
            </div>
          </div>
        </div>

        <div class="card border-right-success shadow">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="h5 mb-0 font-weight-bold text-success text-right">1023 millions de francophones en 2065</div>
              </div>
            </div>
          </div>
        </div>


      </div>
      <!-- End of Column Illustration -->

    </div>
    <!-- End of Content Row -->

  </div>
  <!-- End of Page Content - end of container-fluid -->





  <!--<div class="content-index">
    <ul class="list-unstyled text-center mb-0">
      <li class="list-unstyled-item">
        <p class="shape-index">Travailler la compréhension écrite avec la presse</p>
      </li>
      <li class="list-unstyled-item">
        <p class="shape-index">Travailler la compréhension orale avec les chansons</p>
      </li>
      <li class="list-unstyled-item">
        <p class="shape-index">&Agrave; voir &Agrave; faire en France</p>
      </li>
      <li class="list-unstyled-item">
        <p class="shape-index">Le forum : papotez, échangez, demandez</p>
      </li>
    </ul>
  </div>-->


{% endblock %}