{% extends 'content/base.html' %}

{% block content %}

  <div class="overlay">
    <div class="content-legal">
      <ul class="list-unstyled text-center mb-0">
        <li class="list-unstyled-item">
          <h5 class="text-legal"><em>Thème</em> : Modèle <strong>Coming soon</strong> de Start bootstrap, disponible
            <a href="https://startbootstrap.com/themes/coming-soon/"><strong>ici</strong></a></h5>
        </li>
        <li class="">
          <h5 class="text-legal"><em>Icônes</em> : <strong>Bootstrap Icons</strong>, disponible
            <a href="https://icons.getbootstrap.com/"><strong>ici</strong></a></h5>
        </li>
      </ul>
    </div>
  </div>

  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="static/content/mp4/bg.mp4" type="video/mp4">
  </video>


{% endblock %}