<!-- Navbar if user is authenticated -->
{% load static %}

  <h5 class="font-weight-bold font-italic text-white">Espace de pratique, d'échange et de communication en français</h5>

  <ul class="navbar-nav ml-auto">

    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-white font-weight-bold">{{ request.user.first_name }}</span>
        {% if request.user.profile_pic %}
          <img class="img-fluid rounded-circle" src="{{ request.user.profile_pic.url }}" width=60 height=60>
        {% else%}
          <img class="img-profile rounded-circle" src="/static/content/img/profile/default_pic.png" width="60" height="60">
        {% endif %}
      </a>
      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="{% url 'edit_profile' %}">
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
          Profil
        </a>
        <a class="dropdown-item" href="{% url 'edit_profile_pic' %}">
          <i class="fas fa-user-circle fa-sm fa-fw mr-2 text-gray-400"></i>
          Photo
        </a>
        <a class="dropdown-item" href="{% url 'change_password' %}">
          <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
          Changer le mot de passe
        </a>
        <a class="dropdown-item" href="{% url 'user_delete' %}">
          <i class="fas fa-user-times fa-sm fa-fw mr-2 text-gray-400"></i>
          Supprimer le compte
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'logout' %}">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Se déconnecter
        </a>
      </div>
    </li>

  </ul>