.btn-secondary {
  background-color: $white;
  border-color: $white;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($primary, 10%) !important;
    border-color: darken($primary, 10%) !important;
  }
}

.input {
  font-weight: 300 !important;
}

.text-icon-menu {
  @include menu-hover;
}

.tooltip .tooltip-inner {
  color: #002E66;
  background-color: #fff;
}