{% extends 'content/base.html' %}

{% block content %}

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">Mot de passe oublié ?</h1>
                    <br>
                    <p class="mb-4">Pas de panique, ça arrive ! Entrez votre email ci-dessous et on vous envoie un lien pour en configurer un nouveau.</p>
                  </div>
                  <form class="user" method="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group row">
                      <br><br>
                      {{ form.email }}
                    </div>
                    <br>
                    <button class="btn btn-primary btn-user btn-block" type="submit">
                      Valider
                    </button>
                  </form>
                  <br>
                  <div class="text-center">
                    <a class="small" href="{% url 'home' %}">Accueil</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

{% endblock %}
