{% extends 'content/base.html' %}

{% block content %}

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-6 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Mettre à jour l'email</h1>
              </div>
              <form class="user" method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                  <br><br>
                  {{ form.email }}
                  <p class="formerrors">{{ form.email.errors | safe }}</p>
                  <br><br>
                </div>
                <div>
                  {{ form.password }}
                  <br><br>
                </div>
                {% if messages %}
                <div class="formerrors">
                  <div class="messages">
                    {% for message in messages %}
                      {% if message.extra_tags == None %}
                        <p class="{{ messages.tags }}">{{ message }}</p>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
                {% endif %}
                <br><br>
                <button class="btn btn-primary btn-user btn-block" type="submit">
                  Valider les modifications
                </button>
              </form>
              <br>
              <div class="text-center">
                <a class="small" href="{% url 'home' %}">Accueil</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}
